<div class="container">
  <div [hidden]="submitted">
    <h1>Hero Form</h1>
    <form (ngSubmit)="onSubmit()" #itemForm="ngForm">
      <mat-form-field appearance="fill">
        <mat-label for="name">Name</mat-label>
        <input matInput type="text" id="name"
        required maxlength="20"
               [(ngModel)]="model.name" name="name"
               #name="ngModel">
        <mat-error [hidden]="name.valid || name.pristine">
          Name is required
        </mat-error>
    </mat-form-field><br>
    <mat-form-field appearance="fill">    
    <mat-label for="Price">Price</mat-label>
        <input matInput type="text" 
        required pattern="^$|^([0-9]|[0]|[1][0])?"
               name="Price" [(ngModel)]="model.Price">
               <mat-error [hidden]="name.valid || name.pristine">
             Price is required
           </mat-error>
              </mat-form-field><br>
      <button mat-raised-button color="accent" routerLink="/items" type="submit" (click)="submit()" class="btn btn-success" [disabled]="!itemForm.form.valid">Submit</button>
  </form>
</div>