<div class="container">
  <div [hidden]="submitted">
    <h1>Hero Form</h1>
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <mat-form-field appearance="fill">
        <mat-label for="name">Name</mat-label>
        <input matInput type="text" class="form-control" id="name"
        required maxlength="20"
               [(ngModel)]="model.name" name="name"
               #name="ngModel">
        <mat-error [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </mat-error>
      </mat-form-field><br>
      <mat-form-field appearance="fill">  
      <mat-label for="life">Life</mat-label>
        <input matInput type="text" class="form-control" 
               required pattern="^$|^([0-9]|[0]|[1][0])?"
               [class.is-invalid]="life.invalid && life.touched"
               name="life" [(ngModel)]="model.life" #life="ngModel">
        <mat-error [hidden]="life.valid"
               class="alert alert-danger">
               Must be number from range 0-10.
    </mat-error>
  </mat-form-field><br>
  <mat-form-field appearance="fill">  
        <mat-label for="Coins">Coins</mat-label>
        <input matInput type="text" class="form-control" 
        required pattern="^$|^([0-9]|[0]|[1][0])?"
               name="Coins" [(ngModel)]="model.Coins">
               <mat-error [hidden]="life.valid"
               class="alert alert-danger">
               Must be number from range 0-100.
    </mat-error>
  </mat-form-field><br>
  <mat-form-field appearance="fill">      
  <mat-label for="strength">Strength</mat-label>
        <input matInput type="text" class="form-control" 
               required pattern="^$|^([0-9]|[0]|[1][0])?"
               [class.is-invalid]="strength.invalid && strength.touched"
               name="stength" [(ngModel)]="model.strength" #strength="ngModel">
               <mat-error [hidden]="strength.valid"
               class="alert alert-danger">
               Must be number from range 0-10.
              </mat-error>
            </mat-form-field><br>
      <button mat-raised-button color="accent" routerLink="/heroes" type="submit" (click)="submit()" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
  </form>
</div>
