<h2>My Heroes</h2>
<ul class="heroes">
  <button (click)="dropdown.show = !dropdown.show" [style.background-color]="dropdown.show === true ? '#aaa' : '#eee'">Sort By</button>
  <div *ngIf="dropdown.show">
    <button *ngFor="let option of dropdown.options" [style.background-color]="dropdown.selected === option ? '#aaa' : '#eee'" (click)="sortBy(option, dropdown.descending); dropdown.selected = option">{{option}}</button>
    <button (click)="dropdown.descending = !dropdown.descending; sortBy(dropdown.selected, dropdown.descending);">{{dropdown.descending ? "Descending" : "Ascending"}}</button>
  </div>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}, <span>Life:</span> {{hero.Life}}, <span>Strenght:</span> {{hero.Strenght}}
    </a>
  </li>
</ul>
<div>
  <label>Hero name:
    <input #heroName />
  </label>
  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>
  <ul class="heroes">
  <li *ngFor="let hero of heroes">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
      <button class="delete" title="delete hero"
      (click)="delete(hero)">x</button> 

  </li>
</ul>
<div><button><a routerLink = '/hero-form'>Create Hero</a></button></div>